* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica";
    line-height: 1.5;
    background-color: #F6F8F9;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Navbar */
.navbar {
    width: 100%;
    height: 50px;
    background-color: #F6F8F9;
    padding: 7px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.navbar-logo a {
    font-size: 13px;
    color: #FA6980;
    transition: all 0.3s ease;
}

.navbar-logo a:hover {
    opacity: 60%;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    padding: 10px;
    font-weight: bold;
}

.navbar-nav li a {
    color: #343638;
    opacity: 50%;
    transition: all 0.3s ease;
}

.navbar-nav li a:hover {
    color: #343638;
    opacity: 100%;
}

.navbar-nav li a {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.nav-profile {
    height: 30px;
    max-width: 30px;
    width: 100%;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.nav-profile:hover {
    opacity: 80%;
}


/*Head Section*/
.head-section {
    display: flex;
    justify-content: space-between;
}

.head-section .hero {
    position: relative;
    background: url(../img/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 60%;
}

.head-section .hero .hero-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 247px;
    max-width: 600px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.head-section .hero .hero-absolute h2 {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 30px;
}

.head-section .hero .hero-absolute .hero-cont button {
    background-color: #FF2288;
    color: #ffffff;
    height: 40px;
    width: 134px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.head-section .hero .hero-absolute .hero-cont button:hover {
    background-color: #d61d73;
}

.more-news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 600px;
    width: 40%;
    padding: 100px;
    background-color: #ffffff;
}

.more-news .more-news-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EBEDED;
    padding-bottom: 30px;
}

.arrows i {
    cursor: pointer;
    transition: all 0.2s ease;
}

.arrows i:hover {
    opacity: 60%;
}

.arrows i:first-child {
    margin-right: 30px;
}

.more-news .more-news-cont {
    margin-top: 20px;
    margin-top: 10px;
    font-size: 16px;
}

.more-news .more-news-cont h4 {
    color: #FA6980;
    margin-bottom: 10px;
}

.more-news .more-news-cont h5 {
    margin-bottom: 10px;
}

.more-news .more-news-cont p {
    color: #A6ADB4;
    margin-bottom: 30px;
}

.more-news .more-news-cont i {
    color: #A6ADB4;
    padding-bottom: 10px;
    margin-right: 5px;
}

.more-news .more-news-cont span {
    color: #A6ADB4;
    font-size: 13px;
}


/*Trending Section*/
.container {
    max-width: 1160px;
    margin: 0 auto;
}

.trending-section .trending-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.trending-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.trending-cont-box {
    height: 350px;
    max-width: 360px;
    width: 100%;
    background-color: #ffffff;
}

.trending-cont-box .trending-cont-box-cont {
    padding: 20px;
}

.trending-cont-box .trending-cont-box-cont a, p {
    margin-top: 10px;
}

.trending-cont-box .trending-cont-box-cont a {
    font-size: 16px;
    color: #222222;
}

.trending-cont-box .trending-cont-box-cont p, .time {
    color: #A6ADB4;
    font-size: 13px;
}

.trending-cont-box .trending-cont-box-cont .time {
    margin-top: 30px;
}

/*Happening-Now Section*/
.happeningnow .happeningnow-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.happeningnow-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.happeningnow-large-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 900px;
    width: 65%;
}

.happeningnow-large-cont-upper {
    position: relative;
    background: url(../img/Image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
}

.happeningnow-large-cont-lower {
    position: relative;
    background: url(../img/Image-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
}

.upper-absolute {
    color: #ffffff;
    position: absolute;
    left: 5%;
    top: 7%;
}

.lower-absolute {
    position: absolute;
    left: 5%;
    bottom: 7%;
}

.lower-absolute a {
    font-size: 23px;
    color: #ffffff;
}

.lower-absolute p {
    color: #ffffff;
    margin: 0 0 20px 0;
}

.lower-absolute .time {
    color: #CBD0D3;
}

.happeningnow-small-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 850px;
    width: 31%;
}

.happeningnow-small-cont-box {
    height: 210px;
    max-width: 360px;
    width: 100%;
}

.happeningnow-small-cont-box .happeningnow-small-cont-box-cont {
    margin-top: 10px;
}

.happeningnow-small-cont-box .happeningnow-small-cont-box-cont a {
    font-size: 16px;
    color: #222222;
    margin-top: 10px;
}


/* Footer */
footer {
    background-color: #A6ADB4;
    padding: 55px;
    margin-top: 100px;
    height: 200px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-ul {
    display: flex;
}

.footer-row .footer-ul div {
    margin-right: 40px;
}

.footer-col ul li a {
    font-size: 13px;
    color: #CBD0D3;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
}

.footer-ul .navbar-logo a {
    color: #ffffff;
}

.search input {
    height: 40px;
    width: 262px;
    text-align: left;
    text-indent: 10px;
    background-color: transparent;
    border: 1px solid #CBD0D3;
    color: #ffffff;
    outline: none;
    border-radius: 6px;
}

.search input:hover {
    border: 1px solid #ffffff;
}

.search input:focus {
    border: 1px solid #ffffff;
}

.search input::placeholder {
    color: #CBD0D3;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    top: 15%;
    right: 5%;
    cursor: pointer;
}

.search p {
    font-size: 11px;
    color: #CBD0D3;
}

.footer-col .social-links a {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 25px;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:last-child {
    margin-right: 0px;
}

.footer-col .social-links a:hover {
    color: #CBD0D3;
}

/* Mobile*/
.hamburger {
    cursor: pointer;
    width: 25px;
    height: 15px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    display: none;
    margin-left: 30px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    background: #222222;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    width: 15px;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.hdd {
    transform: translateX(-100%)
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #F6F8F9;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: all 0.5s ease;
}

.mobile-menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mobile-menu-cont ul {
    height: 50%;
    flex-direction: column;
}

.mobile-menu-cont .mobile-menu-top {
    padding: 40px;
}

.mobile-menu-cont .mobile-menu-top ul img {
    height: 16px;
    max-width: 16px;
    margin-right: 20px;
}

.mobile-menu-cont .mobile-menu-top ul li {
    margin-bottom: 40px;
}

.mobile-menu-cont .mobile-menu-top ul li a {
    display: flex;
    color: #222222;
    font-size: 11px;
    opacity: 60%;
    transition: all 0.3s ease;
}

.mobile-menu-cont .mobile-menu-top ul li a:hover {
    opacity: 100%;
}

.mobile-menu-cont .mobile-menu-bottom {
    background-color: rgb(0, 0, 0, 0.23);
    height: 50%;
    padding: 25px 50px 0 50px;
}

.mobile-menu-cont .mobile-menu-col {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-cont .mobile-menu-col ul li {
    margin-bottom: 20px;
}

.mobile-menu-cont .mobile-menu-col ul a {
    color: #ffffff;
    font-size: 11px;
    opacity: 60%;
    transition: all 0.3s ease;
}

.mobile-menu-cont .mobile-menu-col ul a:hover {
    opacity: 100%;
}

.mobile-menu-cont .social-links a {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 25px;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease;
}

.mobile-menu-cont .social-links a i {
    font-size: 16px;
}

.mobile-menu-cont .social-links {
    margin-top: 20px;
}

.mobile-menu-cont .social-links a:last-child {
    margin-right: 0px;
}

.mobile-menu-cont .social-links a:hover {
    color: #CBD0D3;
}

.no-scroll {
    overflow: hidden;
}


/* World News*/
.worldnews-head-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.worldnews-head-main {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.worldnews-head-main img {
    margin-top: 10px;
}

.worldnews-head-main .story {
    color: #202124;
    font-size: 11px;
    font-weight: bold;
    margin-right: 19px;
    cursor: pointer;
}

.worldnews-head-main .world {
    color: #A6ADB4;
    font-size: 11px;
    font-weight: bold;
    margin-left: 19px;
    cursor: pointer;
}

.worldnews-head-filter button {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #222;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    border: 1px solid #EBEDED;
    cursor: pointer;
}

.worldnews-head-cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.worldnews-head .hero {
    position: relative;
    background: url(../img/Image-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 580px;
}

.worldnews-head .hero .hero-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    max-width: 500px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.worldnews-head .hero .hero-absolute img {
    height: 40px;
    max-width: 40px;
    outline: 2px solid #ffffff;
    outline-offset: 0px;
    border-radius: 50px;
}

.worldnews-head .hero .hero-absolute hr {
    border: 1px solid #FA6980;
    width: 50px;
    margin: 0 auto;
}

.worldnews-head .hero .hero-absolute .hero-cont button {
    background-color: #FF2288;
    color: #ffffff;
    height: 40px;
    width: 134px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.worldnews-head .hero .hero-absolute .hero-cont button:hover {
    background-color: #d61d73;
}

.date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 500px;
    width: 580px;
    padding: 100px;
    background-color: #ffffff;
}

.dropdown {
    width: 360px;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left
}

.dropdown input {
    width: 360px;
    height: 40px;
    padding: 10px;
    border: none;
    bord
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select>i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.date-search button {
    background-color: #FF2288;
    color: #ffffff;
    height: 40px;
    width: 134px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.date-search button:hover {
    background-color: #d61d73;
}

/* Contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#map {
    height: 300px;
    max-width: 600px;
    width: 100%;
    border-radius: 15px;
    outline: 3px solid #A6ADB4;
    outline-offset: 0px;
    border-radius: 15px;
}

.contact .social-links {
    margin: 50px 0 100px 0;
}

.contact .social-links a {
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 25px;
    text-align: center;
    color: #A6ADB4;
    transition: all 0.3s ease;
}

.contact .social-links a:last-child {
    margin-right: 0px;
}

.contact .social-links a:hover {
    opacity: 80%;
}

.contact-us {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000004d;
    margin: 100px 0 70px 0;
}

.contact-us .title h1 {
    color: #222;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #222;
    padding: 10px;
    color: #222;
    width: 100%;
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #222;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #222;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #222;
}

.msg button {
    background-color: #FF2288;
    color: #ffffff;
    height: 40px;
    width: 134px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.msg button:hover {
    background-color: #d61d73;
}