* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica";
    line-height: 1.5;
    background-color: #F6F8F9;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Navbar */
.navbar {
    width: 100%;
    height: 50px;
    background-color: #F6F8F9;
    padding: 7px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.navbar-logo a {
    font-size: 13px;
    color: #FA6980;
    transition: all 0.3s ease;
}

.navbar-logo a:hover {
    opacity: 60%;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    padding: 10px;
    font-weight: bold;
}

.navbar-nav li a {
    color: #343638;
    opacity: 50%;
    transition: all 0.3s ease;
}

.navbar-nav li a:hover {
    color: #343638;
    opacity: 100%;
}

.navbar-nav li a {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.nav-profile {
    height: 30px;
    max-width: 30px;
    width: 100%;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.nav-profile:hover {
    opacity: 80%;
}


/*Head Section*/
.head-section {
    display: flex;
    justify-content: space-between;
}

.head-section .hero {
    position: relative;
    background: url(../img/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 60%;
}

.head-section .hero .hero-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 247px;
    max-width: 600px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.head-section .hero .hero-absolute h2 {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 30px;
}

.head-section .hero .hero-absolute .hero-cont button {
    background-color: #FF2288;
    color: #ffffff;
    height: 40px;
    width: 134px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.head-section .hero .hero-absolute .hero-cont button:hover {
    background-color: #d61d73;
}

.more-news-box {}

.more-news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 600px;
    width: 40%;
    padding: 100px;
    background-color: #ffffff;
}

.more-news .more-news-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EBEDED;
    padding-bottom: 30px;
}

.arrows i {
    cursor: pointer;
    transition: all 0.2s ease;
}

.arrows i:hover {
    opacity: 60%;
}

.arrows i:first-child {
    margin-right: 30px;
}

.more-news .more-news-cont {
    margin-top: 20px;
    margin-top: 10px;
    font-size: 16px;
}

.more-news .more-news-cont h4 {
    color: #FA6980;
    margin-bottom: 10px;
}

.more-news .more-news-cont h5 {
    margin-bottom: 10px;
}

.more-news .more-news-cont p {
    color: #A6ADB4;
    margin-bottom: 30px;
}

.more-news .more-news-cont i {
    color: #A6ADB4;
    padding-bottom: 10px;
    margin-right: 5px;
}

.more-news .more-news-cont span {
    color: #A6ADB4;
    font-size: 13px;
}


/*Trending Section*/
.trending-section {
    max-width: 1160px;
    margin: 0 auto;
}

.trending-section .trending-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.trending-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.trending-cont-box {
    height: 350px;
    max-width: 360px;
    width: 100%;
    background-color: #ffffff;
}

.trending-cont-box .trending-cont-box-cont {
    padding: 20px;
}

.trending-cont-box .trending-cont-box-cont a, p {
    margin-top: 10px;
}

.trending-cont-box .trending-cont-box-cont a {
    font-size: 16px;
    color: #222222;
}

.trending-cont-box .trending-cont-box-cont p, .time {
    color: #A6ADB4;
    font-size: 13px;
}

.trending-cont-box .trending-cont-box-cont .time {
    margin-top: 30px;
}

/*Happening-Now Section*/
.happeningnow {
    max-width: 1160px;
    margin: 0 auto;
}

.happeningnow .happeningnow-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.happeningnow-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.happeningnow-large-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 900px;
    width: 65%;
}

.happeningnow-large-cont-upper {
    position: relative;
    background: url(../img/Image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
}

.happeningnow-large-cont-lower {
    position: relative;
    background: url(../img/Image-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 430px;
}

.upper-absolute {
    color: #ffffff;
    position: absolute;
    left: 5%;
    top: 7%;
}

.lower-absolute {
    position: absolute;
    left: 5%;
    bottom: 7%;
}

.lower-absolute a {
    font-size: 23px;
    color: #ffffff;
}

.lower-absolute p {
    color: #ffffff;
    margin: 0 0 20px 0;
}

.lower-absolute .time {
    color: #CBD0D3;
}

.happeningnow-small-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 840px;
    width: 31%;
}

.happeningnow-small-cont-box {
    height: 210px;
    max-width: 360px;
    width: 100%;
}

.happeningnow-small-cont-box .happeningnow-small-cont-box-cont {
    margin-top: 10px;
}

.happeningnow-small-cont-box .happeningnow-small-cont-box-cont a {
    font-size: 16px;
    color: #222222;
    margin-top: 10px;
}


/* Footer */
footer {
    background-color: #A6ADB4;
    padding: 55px;
    margin-top: 100px;
    height: 200px;
}

.footer-cont {
    max-width: 1160px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-ul {
    display: flex;
}

.footer-row .footer-ul div {
    margin-right: 40px;
}

.footer-col ul li a {
    font-size: 13px;
    color: #CBD0D3;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
}

.footer-ul .navbar-logo a {
    color: #ffffff;
}

.search input {
    height: 40px;
    width: 262px;
    text-align: left;
    text-indent: 10px;
    background-color: transparent;
    border: 1px solid #CBD0D3;
    outline: none;
    border-radius: 6px;
}

.search input::placeholder {
    color: #CBD0D3;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    top: 15%;
    right: 5%;
    cursor: pointer;
}

.search p {
    font-size: 11px;
    color: #CBD0D3;
}

.footer-col .social-links a {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 25px;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:last-child {
    margin-right: 0px;
}

.footer-col .social-links a:hover {
    color: #CBD0D3;
}